body{
	background-color: black;
	font-family: arial, sans-serif;
	line-height: 2.0;
	margin-left: 10%;
	margin-right: 10%;
	color:white;
}
h1{
	font-size: 80px;
	text-align:center;
	background-color: white;
	padding: 60px;
	color:black;
	border-bottom: 30px solid red;

}
li{
	color:white;
}
a{
	color:yellow;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;

}